:root {
    /* Цвета */
    --color-dark: #222;
    --color-blue: #3199dc;
    --color-light: #f8f9fa;
    --color-white: #fff;
    --color-black: #000;

    /* Отступы */
    --spacing-small: 10px;
    --spacing-medium: 12px;
    --spacing-large: 20px;

    --box-shadow: 0 2px 24px rgba(168, 175, 196, 0.5);
}

*, ::after, ::before {
    box-sizing: border-box;
}

/* Стилизация scroll-а для firefox */
* {
    scrollbar-color: var(--color-blue) var(--color-dark);
    scrollbar-width: thin;
}
/* Стилизация scroll-а для chrome */
::-webkit-scrollbar {
    /* Для вертикального */
    width: 8px;
    /* Для горизонтального */
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-blue);
    border-radius: 2px;
}

::-webkit-scrollbar-track {
    background-color: var(--color-dark);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-dark);
    font-size: 16px;
    line-height: 1.7;
    font-family: Arial, Helvetica, sans-serif;
}

/* Т.к теперь используются изолированные модули postcss, чтобы влиять на классы вне App.css, можно обращаться через :global */
/* Таким образом мы делаем заготовку глобальных классов для использования в дальнейшем */
:global(.btn) {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

/* Чтобы не прописывать это для каждой картинки, создаём отдельные глобальные классы */

:global(.img-contain) {
    display: block;
    object-fit: contain;
    object-position: center;
}

:global(.img-cover) {
    display: block;
    object-fit: cover;
    object-position: center;
}

:global(.bg-contain) { 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}